<p-table
    [value]="products"
    [tableStyle]="{ 'min-width': '50rem' }"
    [paginator]="true"
    [first]="first"
    [rows]="rowsPerPage"
    [totalRecords]="totalRecords"
    [lazy]="true"
    (onLazyLoad)="loadProducts($event)"
    [customSort]="true"
    (sortFunction)="loadProducts($event)"
>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="sku">SKU <p-sortIcon field="sku"/></th>
            <th pSortableColumn="name">Name <p-sortIcon field="name"/></th>
            <th pSortableColumn="manufacturer">Manufacturer <p-sortIcon field="manufacturer"/></th>
            <th pSortableColumn="finalPriceHuf">Price (HUF) <p-sortIcon field="finalPriceHuf"/></th>
            <th pSortableColumn="stock">Stock <p-sortIcon field="stock"/></th>
            <th pSortableColumn="ean">EAN <p-sortIcon field="ean"/></th>
            <th pSortableColumn="updatedAt">Updated At <p-sortIcon field="updatedAt"/></th>
            <th pSortableColumn="source">Source <p-sortIcon field="source"/></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{ product.sku }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.manufacturer }}</td>
            <td>{{ product.finalPriceHuf }}</td>
            <td>{{ product.stock }}</td>
            <td>{{ product.ean }}</td>
            <td>{{ product.updatedAt }}</td>
            <td>{{ product.source }}</td>
        </tr>
    </ng-template>
</p-table>